@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 12%;
    --muted: 232 100% 96%;
    --muted-foreground: 218 17% 50%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 12%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 12%;
    --border: 220 16% 86%;
    --input: 220 16% 86%;
    --primary: 234 100% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 100% 70%;
    --secondary-foreground: 222 47% 12%;
    --accent: 231 92% 85%;
    --accent-foreground: 222 47% 20%;
    --destructive: 346 84% 62%;
    --destructive-foreground: 210 40% 98%;
    --ring: 234 100% 63%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slideInFromTop {
  animation: slideInFromTop 0.3s ease-out;
}
